work
*.ini
*.wlf
transcript
*.out
build

*.vcd

*.vvp

*.pyc

.vscode

*.vsdx

generate

project_vivado

.idea

__pycache__

sim_build

results.xml

netlist

.VSCodeCounter